* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: .3s;
}

.main {
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url('aryan.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#head {
    border: 2px;
    display: none;
    padding: 10px 12px;
    background-color: darkcyan;

}

.main:hover {
    opacity: 70%;
}


.main:hover #head {
    opacity: 100%;
    display: block;
}