*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.section{
    display: flex;
    color: white;
    flex-direction: row;
    padding-top: 10%;
    justify-content: space-evenly;
}

p{
    border: 15px solid red;
    width: 20%;
    background-color: BLACK;
    padding: 20PX;
}