*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.section{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.nav a{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

.nav a:hover{
    color: red;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}